#testcases {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-color: rgba(43, 43, 43, 0.31);
}

#testcases td, #testcases th {
  border: 1px solid #ddd;
  padding: 8px;
  border-color: rgba(43, 43, 43, 0.31);
}

#testcases tr:nth-child(even){background-color: #f2f2f2;}

#testcases tr:hover {background-color: #ddd;}

#testcases th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.single-fab {
  position: fixed;
  bottom: 32px;
  right: 32px;
}

.table-testcases {
  width: 100%;
}

.category-chip, .platform-chip {
  margin-right: 8px!important;
}

.platform-chip {
  color: white;
}

.platform-chip mat-icon {
  margin-right: 8px;
}

.mat-row{
  position: relative;
}

.mat-row-link{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
